
.view.message-stream .panel-col-first {
  width: 20%;
}

.view.message-stream .panel-col-last {
  width: 80%;
}

.view.message-stream .panel-panel p {
  margin: 0;
}

.view.message-stream .panel-col-last .views-field-message-render-2 p {
  font-style: italic;
  font-size: 80%;
}
