#notification-box{
  width:20px;
  height:20px;
  position: relative;
  background-color: red;
}
#notification-messages{
  width: 200px;
  position: absolute;
  top: 20px;
  background-color: yellow;
}